<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monthly Report</title>
</head>

<body>
  <br><br>
  Hi {{ name }},
  <br><br>
  We are glad to tell you that in {{month}}, {{year}} you were in the list of our top <b>10% customers</b>.
  You created <b>{{posts|count}}</b> posts, followed <b>{{followings|count}}</b> new users and <b>{{followers|count}}</b> new user started following you.
  <br><br>
  Keep it up!!!
  <br><br>
  Please find the attachment containing your detailed activities from last month.
  <br><br>
  Regards,
  <br><br>
  Nidhish from Bloglite
    
</body>

</html>